/* Navbar Stylesheet */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: black;
  border-bottom: solid white 1px;
}

.navbarcenter ul {
  display: flex;
  margin: 0;
}

.navbarcenter li {
  list-style-type: none;
  padding: 16px;
}

.navbar a {
  color: white;
}
