/* Index Stylesheet */

.cardContainer {
  max-width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.containerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.cardOne,
.cardTwo,
.cardThree {
  margin-left: 8px;
  margin-right: 8px;
  max-width: 60px;
  max-height: 60px;
  padding: 24px;
  border: solid white 1px;
  box-shadow: 6px 8px 24px white;
  border-radius: 12px;
}

.cardOne img {
  display: block;
  margin: auto;
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.cardTwo img {
  display: block;
  margin: auto;
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.cardThree img {
  display: block;
  margin: auto;
  height: 60px;
  width: 60px;
  object-fit: contain;
}
